body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .contact-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(77, 75, 75, 0.1);
    border-radius: 8px;
    text-align: left;
    
  }
  .contact-container h2{
    color: rgb(0, 0, 0);
  }
  
  .contact-info-box {
    background-color: #e2e9da;
    padding: 10px;
    border-radius: 100px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .contact-info {
    margin: 0;
  }
  
  .contact-info p {
    margin: 5px 0;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }